<h2>Booking overview</h2>

<%= @bookings.length %> bookings are in our system.

<h3>Bookings from frontend</h3>
<%= render partial: "booking", object: @bookings, as: 'items' %>

<h3>Bookings from Booking.com</h3>
<%= render partial: "booking", object: @bookings_bookingcom, as: 'items' %>

<h3>Bookings from Micazu</h3>
<%= render partial: "booking", object: @bookings_micazu, as: 'items' %>
