<%= form_for @content do |f| %>


  <div class="form-group">
    <label>Paragraph</p></label>
    <%= f.text_area :paragraph, rows: 10, placeholder: "Leave this field blank if you don't need a paragraph/text", class: "tinymce" %>
    <%= tinymce %>
  </div>

  <label>Publish this content?</label>

    <div class="actions">
      <%= f.submit "Publish", class: "btn btn-primary" %>
    </div>

<%end%>
