<h2>Mail 2 Reservation</h2>

<h3>First 3 links</h3>
<ol>
<% @css.take(3).each do |element| %>
  <li><%= element %></li>
<% end %>
</ol>

<h3>First 3 links sanitized</h3>
<ol>
<% @elements_sanitized.take(3).each do |element| %>
  <li><%= element %></li>
<% end %>
</ol>
