<h1>Mail 2 Reservation</h1>

<h2>First 3 links</h2>
<ol>
<% @css.take(3).each do |element| %>
  <li><%= element %></li>
<% end %>
</ol>

<h2>First 3 links sanitized</h2>
<ol>
<% @elements_sanitized.take(3).each do |element| %>
  <li><%= element %></li>
<% end %>
</ol>
