/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */
html {
  font-family: Helvetica;
  color: #000;
  background: #edf0f2;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #fff;
  background-color: #2d3e62;
  height: 75px;
  padding-top: 5px;
  -webkit-box-shadow: 7px 9px 19px -8px rgba(0,0,0,0.47);
  -moz-box-shadow: 7px 9px 19px -8px rgba(0,0,0,0.47);
  box-shadow: 7px 9px 19px -8px rgba(0,0,0,0.47);
  margin-bottom: 20px;
}

  .user {
    color: #fff;
    padding: 25px 10px 0 0;
  }
  .logout, .logout a {
    color: #fff;
    font-size: 90%;
    padding-left: 5px;
  }

a {color:#191a30;}
h1 {
  font-size: 44px;
  margin:0;
  padding: 10px;
}

  h1 a {
    text-decoration: none;
    color: #fff;
  }


#flex-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

  aside {
    min-width: 200px;
    margin: 0px 20px 0 20px;
  }

  .nav-title {
    font-weight: bold;
    padding: 10px 5px;
    margin: 0;
    background-color: #2d3e62;
    color: #fff;
    display: block;
  }
  nav ul {
    border: 1px solid #586b95;
    padding: 0;
    margin: 0 0 10px 0;
  }

  nav ul li {
    list-style: none;
    padding: 5px 5px;
    height: 20px
  }

  nav ul li:nth-child(odd) {
    background-color: #9ea7ba;
  }

  nav ul li:nth-child(even) {
    background-color: #969fb0;
  }

  #content {

  }
