/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* for our bootstrap template. Look at https://github.com/MrPowers/frontend-generators */
 *= require bootstrap
 /**= require font_awesome*/
* {border: 1px solid purple;}

body {
  font-family: Verdana, Geneva, sans-serif;
}

header {
  background-color: rgb(168, 186, 196);
  height: 70px;

}

h1 {
  font-size: 35px;
  margin:0;
  padding: 10px;
}

  h1 a {
    text-decoration: none;
    color: #000;
  }


#flex-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

  aside {
    min-width: 200px;
    background-color: rgb(168, 186, 196);
  }

  .nav-title {
    font-weight: bold;
    padding: 3px;
    margin: 0;
    background-color: #000;
    color: #fff;
    display: block;
  }
  nav ul {
    padding: 0;
    margin:0;
  }

  nav ul li {
    list-style: none;
    padding: 3px;
    height: 20px
  }

  nav ul li:nth-child(odd) {
    background-color: rgb(159, 176, 176);
  }

  nav ul li:nth-child(even) {
    background-color: rgb(144, 162, 162)
  }

  #content {
    padding: 5px;
  }
