<h2>Guestbook</h2>

<h3>Unpublished</h3>
<%= render partial: "guestbook", object: @guestbook_unpublished, as: 'items' || "There are no unpublished guestbook items!" %>

<h3>Published</h3>
<%= render partial: "guestbook", object: @guestbooks_published, as: 'items' || "There are no published guestbook items!" %>
