<p>
Dear Mr./Mrs. <%= @booking.last_name %>,

Thank you for your reservation at Casalverde!

Your Booking Details:

Arrival Date: <%= @booking.arrival_date %>
Departure Date: <%= @booking.departure_date %>
No. of Guests: <%= @booking.guests %>

etc etc.

As soon as your booking has been processed you will receive a confirmation email.

Kind regards,

Casalverde.
</p>
