<section id="portfolio">
  <div class="container">
  <div class=".col-xs-6 .col-sm-4s">
    <h3>Guestbook</h3><br>
    <% @guestbooks.each do |guestbook| %>
    <div class="well">
      <p>Guest: <%= guestbook.name %></p>
      <p>Message: <%= guestbook.message %></p>
    </div>
    <% end %>
  </div>
</div>
</section>
