<div class="container">
<section id="portfolio">
  <div class=".col-xs-6 .col-sm-4s">
    <h3>Guestbook</h3>
    <% @guestbooks.each do |guestbook| %>

      <h4>Guest: <%= guestbook.name %></h4>
      <p>Message:</p><%= guestbook.message %>

    <% end %>
  </div>
</section>
</div>
