<section id="guestbook">

  <h3>Guestbook</h3>
  <% @guestbooks.each do |guestbook| %>

    <h4>Guest: <%= guestbook.name %></h4>
    <p>Message:</p><%= guestbook.message %>

  <% end %>


</section>
