<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-1 text-center">
                <h2>Did you enjoy your stay?</h2>
                <%= render 'form' %>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
