<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Did you enjoy your stay?</h2>
            <hr>
            <p>Check out what others said about Cas'al Verde. Feel free to leave a message in our Guestbook!</p>
            <a href="#guestbook" class="btn btn-primary btn-xl page-scroll">Guestbook</a>
        </div>
    </div>
</header>
