<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Guestbook</h1>
            <hr>
            <p>Check out what others said about Cas'al Verde. Feel free to leave a message in our Guestbook!</p>
            <a href="#tripadvisor" class="btn btn-primary btn-xl page-scroll">Guestbook</a>
        </div>
    </div>
</header>
