
  <section id="portfolio">
    <div class="container">
    <div class="col-lg-8 col-lg-offset-3 text-center">

    <div class="tripadvisor">
    <div id="TA_selfserveprop547" class="TA_selfserveprop">
    <ul id="iMCOzf" class="TA_links T4e0NSl6qm">
    <li id="i8PVFa" class="qU73nFQJwiK">
    <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
    </li>
    </ul>
    </div>
    <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=547&amp;locationId=2063223&amp;lang=en_US&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=true&amp;border=true&amp;display_version=2"></script>
  </div>
  </div>
  </div>
  </section>
