<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Book now!</h2>
                <hr class="light">
                <%= render 'shared/booking-widget' %>
                <p></p>
                <div class="row">
                  <a href="#" class="btn btn-default btn-xl">Whoop Whoop</a>
                </div>
            </div>
        </div>
    </div>
</section>
