<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Have a look at our other pictures!</h2>
            <a href="https://www.instagram.com/casalverde.eu/" class="btn btn-default btn-xl wow tada">Instagram</a>
        </div>
    </div>
</aside>
