<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Cas'al Verde</h1>
            <hr>
            <% @info_content = Content.find_by_name("Header") %>
            <p><%= render "shared/text"%></p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
