<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Cas'al Verde</h1>
            <hr>
            <p>Serenity, beautiful scenery, privacy in the heart of the Chianti Area in Toscane </p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
