<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
    <% @photos.each do |photo| %>
      <div class="col-lg-4 col-sm-6">
        <class="portfolio-box">
        <%= link_to image_tag photo.image, class: "img-responsive", alt: "" %>
      </div>
    <% end %>
    </div>
  </div>
</section>
