<div class="panel panel-default">
  <div class="panel-heading">
    Choose the photograph you wish to upload

  <div class="panel-body">
    <%= form_for @photo do |f| %>
      <div class="form-group">
        <label>Image:</label>
        <br>
        <%= f.file_field :image %>
        <br>
        <label> Publish this photo? </label>

          <div class="actions">
            <%= f.submit "Publish", class: "btn btn-primary" %>
            <%= link_to "Cancel", information_path, class: "btn btn-default"%>
          </div>

          <%end%>
        </div>

      </div>
