/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* for our bootstrap template. Look at https://github.com/MrPowers/frontend-generators */
 *= require bootstrap
 *= require font_awesome


 @media (min-width: 100px) {
       #myCarousel .carousel-inner .item .item-item:last-child {
         display: none;
       }
    }

 .carousel-inner {
   overflow: hidden;
   position: relative;
   width: 100%;
 }
 .carousel-inner .active.left { left: -25%; }
 .carousel-inner .next        { left:  25%; }
 .carousel-inner .prev    { left: -25%; }
 .carousel-control        { width:  4%; }
 .carousel-control.left,.carousel-control.right {margin-left:0;background-image:none;}
 .carousel-inner .item-item {
   padding:0!important;
   height: 250px;
   overflow: hidden;
 }

img.img-responsive{
  margin: 0 auto;
  object-fit: cover;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding:0!important;
  display: block;
}
